# Ignore providers
lab1/.terraform/
lab1/terraform.tfstate
lab1/terraform.tfstate.backup
lab2/.terraform/
lab2/terraform.tfstate
lab2/terraform.tfstate.backup
lab3/.terraform/
lab3/terraform.tfstate
lab3/terraform.tfstate.backup
lab4/.terraform/
lab4/terraform.tfstate
lab4/terraform.tfstate.backup
lab5/.terraform/
lab5/terraform.tfstate
lab5/terraform.tfstate.backup
lab6/.terraform/
lab6/terraform.tfstate
lab6/terraform.tfstate.backup
lab7/.terraform/
lab7/terraform.tfstate
lab7/terraform.tfstate.backup
lab8/.terraform/
lab8/terraform.tfstate
lab8/terraform.tfstate.backup
lab9/.terraform/
lab9/terraform.tfstate
lab9/terraform.tfstate.backup
lab10/.terraform/
lab10/terraform.tfstate
lab10/terraform.tfstate.backup
lab11/.terraform/
lab11/terraform.tfstate
lab11/terraform.tfstate.backup
lab12/.terraform/
lab12/terraform.tfstate
lab12/terraform.tfstate.backup
lab13/.terraform/
lab13/terraform.tfstate
lab13/terraform.tfstate.backup
lab14/.terraform/
lab14/terraform.tfstate
lab14/terraform.tfstate.backup
lab15/.terraform/
lab15/terraform.tfstate
lab16/terraform.tfstate.backup
lab16/.terraform/
lab16/terraform.tfstate
lab16/terraform.tfstate.backup
lab17/.terraform/
lab17/terraform.tfstate
lab17/terraform.tfstate.backup
eks/.terraform/
eks/terraform.tfstate
eks/terraform.tfstate.backup