# Ignore providers
lab1/.terraform/
lab1/terraform.tfstate
lab1/terraform.tfstate.backup
lab2/.terraform/
lab2/terraform.tfstate
lab2/terraform.tfstate.backup
lab3/.terraform/
lab3/terraform.tfstate
lab3/terraform.tfstate.backup
lab4/.terraform/
lab4/terraform.tfstate
lab4/terraform.tfstate.backup
lab5/.terraform/
lab5/terraform.tfstate
lab5/terraform.tfstate.backup
lab6/.terraform/
lab6/terraform.tfstate
lab6/terraform.tfstate.backup
lab7/.terraform/
lab7/terraform.tfstate
lab7/terraform.tfstate.backup
lab8/.terraform/
lab8/terraform.tfstate
lab8/terraform.tfstate.backup
lab9/.terraform/
lab9/terraform.tfstate
lab9/terraform.tfstate.backup